<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <script src="js/nav.js" defer></script>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/contact.css">
    <title>About us | Hide detective agency</title>
</head>
<body>
    <%- include('nav'); -%>
    <main>
        <section class="about-head">
            <h1>About us</h1>
        </section>
        <div class="about-us">
            <div class="child-about">
                <img src="images/equipment.jpg" alt="">
                <div class="about-sub">
                    <h1 class="heading">Who are we</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quidem dolore id veniam exercitationem officiis delectus corrupti tempora repellendus nulla totam, est enim quam et obcaecati voluptatibus neque similique eos.</p>
                </div>
            </div>
            <div class="child-about">
                <img src="images/equipment.jpg" alt="">
                <div class="about-sub">
                    <h1 class="heading">How we started</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quidem dolore id veniam exercitationem officiis delectus corrupti tempora repellendus nulla totam, est enim quam et obcaecati voluptatibus neque similique eos.</p>
                </div>
            </div>
            <div class="child-about">
                <img src="images/equipment.jpg" alt="">
                <div class="about-sub">
                    <h1 class="heading">Our speciality</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quidem dolore id veniam exercitationem officiis delectus corrupti tempora repellendus nulla totam, est enim quam et obcaecati voluptatibus neque similique eos.</p>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer'); -%>
</body>
</html>