<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <script src="js/nav.js" defer></script>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/services.css">
    <link rel="stylesheet" href="css/contact.css">
    <title>Home | Hide detective agency</title>
</head>
<body>
    <%- include('nav'); -%>
    <section class="hero">
        <div class="main">
            <span>Welcome to hide detective agency,</span>
            <h1>WE HELP YOU FIND <span class="text-effect">YOUR ANSWERS</span></h1>
            <a href="tel:8100000000">Call us</a>
        </div>
        <img src="images/detective2.png" alt="detective">
    </section>
    <main>
        <div class="intro">
            <h1 class="heading text-effect">OUR INTRODUCTION</h1>
            <div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, eaque excepturi expedita suscipit ex enim at quo? Animi atque tenetur perferendis nihil in iste fugit eveniet, ipsa explicabo facere dolores fuga placeat alias impedit, modi deserunt rerum, autem perspiciatis reiciendis? Quod dicta nostrum maiores similique optio id voluptas error distinctio impedit, perferendis voluptate aliquid ullam magni sint omnis quaerat ad?</p>
                <img lazy-loading src="images/intro_back.jpg" alt="intro">
            </div>
        </div>
        <h1 id="services" class="heading text-effect">SERVICES</h1>
        <div class="services">
            <div class="service">
                <img src="/images/adultry.webp" alt="img">
                <h1>Adultery/Affair Infidelity Investigation</h1>
                <p>Suspecting your mate of having an affair can be a very emotionally overwhelming experience. To be sure of anything you need facts. We will investigate the suspicious activity, helping you attain the truth you need to make important decisions in your life."</p>
                <div class="btns">
                    <a class="book" href="#contact-form">Book</a>
                    <a href="/read/adultery-affair-infidelity-investigation">Read more</a>
                </div>
            </div>
            <div class="service">
                <img src="images/pre_matrimonial.webp" alt="Divorce">
                <h1>Pre Matrimonial investigation</h1>
                <p>You might be feeling suspicious about your spouse. Perhaps he's never told you his home phone number. Maybe she avoids introducing you to her friends. Possibly you don't even know where he lives, or worry that she might be lying to you about being divorced</p>
                <div class="btns">
                    <a class="book" href="#contact-form">Book</a>
                    <a href="/read/pre-matrimonial-investigation">Read more</a>
                </div>
            </div>
            <div class="service">
                <img src="images/divorse_postMariage.webp" alt="Divorce">
                <h1>Post Marriage / Divorce Investigation</h1>
                <p>Divorces are complicated, sensitive, and sometimes dangerous depending on the nature of your divorce investigation. VIS can help you with a thorough and discreet divorce investigations such as evidence on infidelity, child custody issues</p>
                <div class="btns">
                    <a class="book" href="#contact-form">Book</a>
                    <a href="/read/post-marriage-divorce-investigation">Read more</a>
                </div>
            </div>
            <div class="service">
                <img src="images/cell_spyware.webp" alt="Divorce">
                <h1>Cell Phone Spyware Detection</h1>
                <p>With smartphones functioning more like computers, spyware has become an increasing threat to cell phone users. If you think someone has put spyware on your cell phone, contact MS Detective for a free consultation to find out how we can remove the malicious software for you.</p>
                <div class="btns">
                    <a class="book" href="#contact-form">Book</a>
                    <a href="/read/cellphone-spyware-detection">Read more</a>
                </div>
            </div>
            <div class="service">
                <img src="images/survilance.webp" alt="Divorce">
                <h1>Surveillance / Shadowing</h1>
                <p>Surveillance / Shadowing is the monitoring of behavior without the target being made aware that they are being monitored, and tailing is a specific method of following an individual to gather information about their activities.</p>
                <div class="btns">
                    <a class="book" href="#contact-form">Book</a>
                    <a href="/read/surveillance-shadowing">Read more</a>
                </div>
            </div>
            <div class="service">
                <img src="images/other.png" alt="Divorce">
                <h1>Other Cases</h1>
                <p>At MS Detective, we attempt to maintain an extensive listing of case types and services, to make it very easy to tell you what we offer so you use our free consultation system without any additional effort. However, every individual is unique,</p>
                <div class="btns">
                    <a class="book" href="#contact-form">Book</a>
                    <a href="/read/other-cases">Read more</a>
                </div>
            </div>
            <div class="service">
                <img src="images/survilance_detection.webp" alt="Divorce">
                <h1>Surveillance Detection (Countermeasures)</h1>
                <p>Surveillance Detection Services are used as a countermeasure to determine if someone is conducting surveillance on you.
                    Surveillance is a generic term for all types of watching and monitoring. One definition is the secret, continuous, periodic watching of persons</p>
                <div class="btns">
                    <a class="book" href="#contact-form">Book</a>
                    <a href="/read/surveillance-detection">Read more</a>
                </div>
            </div>
            <div class="service">
                <img src="images/gay.webp" alt="Divorce">
                <h1>Gay Spouse Investigation</h1>
                <p>Being the victim of an affair is never easy, but finding out that your partner is cheating on you with another member of their same sex is even harder. A shockingly high number of women have been in relationship with men who have had sexual relations with another man.</p>
                <div class="btns">
                    <a class="book" href="#contact-form">Book</a>
                    <a href="/read/gay-spouse-investigation">Read more</a>
                </div>
            </div>
            <div class="service">
                <img src="images/spyware_detection.webp" alt="Divorce">
                <h1>Computer Spyware Detection</h1>
                <p>Computer spyware is typically malicious in nature and can compromise your personal data. If your machine is acting abnormally you should have the computer checked for Spyware. Spyware is a software that secretly gathers</p>
                <div class="btns">
                    <a class="book" href="#contact-form">Book</a>
                    <a href="/read/computer-spyware-detection">Read more</a>
                </div>
            </div>
            <div class="service">
                <img src="images/fact_finding.webp" alt="Divorce">
                <h1>Fact Finding</h1>
                <p>You may doubt about the authentication of any information. Rely on us. We shall find out the true picture so that there is no need to take everything on the face value. Fact finding could be of any nature and type. We would authenticate particular information</p>
                <div class="btns">
                    <a class="book" href="#contact-form">Book</a>
                    <a href="/read/fact-finding">Read more</a>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer'); -%>
</body>
</html>