<nav>
    <div class="sub">
        <div class="logo">
            <h1><a href="/" style="color: white; text-decoration: none;">HIDE AGENCY</a></h1> 
            <p id="ham">&#9776;</p>
        </div>
        <div class="navi">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#contact-form">Contact</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/#services">Services</a></li>
            </ul>
        </div>
    </div>
</nav>